/* Global */
/* ------------------------------------ */
@import "global/fonts.css";
@import "global/reboot.css";
@import "global/container.css";
@import "global/visually-hidden.css";

/* Blocks */
/* ------------------------------------ */
@import "blocks/header.css";
@import "blocks/btn.css";
@import "blocks/hero.css";
@import "blocks/list.css";
@import "blocks/advantages.css";
@import "blocks/card.css";
@import "blocks/card-advantages.css";
@import "blocks/pay.css";
@import "blocks/web-partners.css";
@import "blocks/footer.css";