/* Global */
/* ------------------------------------ */
@import "./global/fonts.css";
@import "./global/reboot.css";
@import "./global/visually-hidden.css";
@import "./global/container.css";

/* Blocks */
/* ------------------------------------ */
@import "./blocks/construction__wrapper.css";
@import "./blocks/hero.css";
@import "./blocks/header.css";
@import "./blocks/galery.css";