/* Global */
/* ------------------------------------ */
@import './global/reboot.css';
@import './global/fonts.css';
@import './global/visually-hidden.css';
@import './global/container.css';

/* Blocks */
/* ------------------------------------ */

@import './blocks/btn.css';
@import './blocks/header.css';
@import './blocks/socials.css';
@import './blocks/card.css';
@import './blocks/advantages.css';
@import './blocks/advantage-card.css';
@import './blocks/special-wrapper.css';
@import './blocks/special-card.css';
@import './blocks/footer.css';
@import './blocks/hero.css';