/* Global */
/* ------------------------------------ */
@import "./global/container.css";
@import "./global/fonts.css";
@import "./global/reboot.css";
@import "./global/visually-hidden.css";

/* Blocks */
/* ------------------------------------ */
@import "./blocks/list.css";
@import "./blocks/header.css";
@import "./blocks/btn.css";
@import "./blocks/wrapper.css";
@import "./blocks/content.css";
@import "./blocks/footer.css";