.about-finance {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.about-finance__header {
	max-width: 400px;
	font-family: "Noto Sans", "Arial", sans-serif;
	font-weight: 700;
	font-size: 32px;
	line-height: 36px;
	margin: 0;
	padding: 0;
	color: #1E222E;
}

.about-finance__category-block {
	display: flex;
	flex-direction: column;
	gap: 48px;
	margin: 0 0 36px;
}

.about-finance__category-header {
	max-width: 400px;
	margin: 0;
	padding: 0;
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
}

.about-finance__category-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.about-finance__category-item {
	display: flex;
}

.about-finance__category-link {
	display: flex;
	justify-content: start;
	align-items: center;
	gap: 16px;
	flex-basis: content;
}

.about-finance__category-name {
	font-weight: 700;
	font-size: 18px;
	line-height: 24px;
}

.about-finance__footer {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.about-finance__social-block {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.about-finance__social-heading {
	margin: 0;
	padding: 0;
	font-weight: 400;
	font-size: 13px;
	line-height: 16px;
	color: #696E82;
}

.about-finance__social-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
	gap: 8px;
}

.about-finance__social-link {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	background-color: #EDEEEF;
	border-radius: 50%;
}

.about-finance__copyright {
	margin: 0;
	padding: 0;
	font-weight: 400;
	font-size: 13px;
	line-height: 16px;
	color: #696E82;
}