.advantages__wrapper {
  margin: 0 auto 100px;
  min-width: 1240px;
  padding: 0 80px;
}

.advantages__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}