.advantage-card {
  height: 100%;
  border-radius: 16px;
  grid-template-rows: 1fr;
}

.advantage-card--contrast {
  background-color: #5E81FF;
  color: #FFFFFF;
}

.advantage-card__content {
  display: flex;
  padding: 32px 26px 32px 32px;
  flex-direction: column;
  max-width: 330px;
  justify-content: space-between;
  gap: 8px;
}

.advantage-card__heading {
  margin: 0;
  color: #1E222E;
  font-size: 26px;
  font-weight: 700;
  line-height: 32px;
}

.advantage-card__text {
  margin: 0 0 52px;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
}

.advantage-card__btn {
  display: flex;
  justify-content: start;
  gap: 8px;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  padding: 0;
  color: #1E222E;
  background-color: #F4F6FA;
}

.advantage-card--contrast .advantage-card__btn {
  background-color: #5E81FF;
}

.advantage-card__image {
  flex-shrink: 0;
  grid-column: 2 / 3;
  grid-row: 1 / span 2;
}

.advantage-card--contrast .advantage-card__heading,
.advantage-card--contrast .advantage-card__text,
.advantage-card--contrast .advantage-card__btn {
  color: #FFFFFF;
}