.apartment {
  margin: 0 0 80px;
}

.apartment__wrapper {
  display: grid;
  grid-template-columns: 420px 360px;
  align-items: center;
  justify-content: space-between;
  column-gap: 220px;
}

.apartment_content-icon {
  display: flex;
}

.apartment__content-icon,
.apartment__description {
  margin: 0 0 32px;
}

.apartment__description {
  font-size: 18px;
  line-height: 24px;
}

.apartment__text {
  margin: 0 0 16px;
  line-height: 22px;
  font-weight: 300;
}

.apartment__list {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  margin: 0;
  padding: 0 0 0 16px;
}

.apartment__list-item {
  line-height: 22px;
  font-weight: 300;
}