.footer {
	background-color: #23252E;
	width: 1440px;
}

.footer__wrapper {
	padding: 40px 0 28px;
	display: flex;
	flex-direction: column;
	gap: 30px;
	align-items: center;
	justify-content: start;
}

.footer__contacts-block {
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	width: 100%;
}

.footer__adress {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	gap: 12px;
	justify-content: start;
	align-items: start;
	grid-column: span 1;
	font-family: "Foros", "Arial", serif;
}

.footer__adress-text-heading {
	margin: 0;
	padding: 0;
	color: rgba(255, 255, 255, 0.4);
	font-weight: 400;
	font-size: 13px;
	line-height: 16px;
}

.footer__adress-text {
	margin: 0;
	padding: 0;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
}

.footer__get-rout {
	font-weight: 400;
	font-size: 13px;
	line-height: 16px;
	text-decoration: underline;
}

.footer__main-logo {
	margin: 0;
	padding: 0;
	display: flex;
	align-items: start;
	justify-content: center;
}

.footer__contacts {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: end;
	gap: 56px;
	grid-column: 3 / 4;
}

.footer__contacts-phone {
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	font-family: "Foros", "Arial", san-serif;
}

.footer__contacts-email {
	font-weight: 400;
	font-size: 13px;
	line-height: 16px;
	font-family: "Foros", "Arial", san-serif;
}

.footer__social-block {
	margin: 0;
	padding: 16px;
	grid-row: 2 / 3;
	grid-column: span 3;
	display: flex;
	justify-content: center;
	align-items: start;
}

.footer__social-list {
	gap: 72px;
}

.footer__topic-list {
	width: 100%;
	justify-content: space-between;
}

.footer__topic-item {
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
}

.footer__copyrights-block {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;
	gap: 28px;
	padding-top: 18px;
}

.footer__coopyright {
	margin: 0;
	width: 800px;
	font-weight: 400;
	font-size: 10px;
	line-height: 12px;
	color: rgba(255, 255, 255, 0.4);
	text-align: center;
	font-family: "Foros", "Arial", san-serif;
}