.galery-list {
	margin: 0;
	padding: 40px 40px 40px 0;
	display: grid;
	gap: 30px;
	grid-template-columns: repeat(4, auto);
	grid-template-rows: repeat(2, auto);
	list-style-type: none;
	border-right: 1px solid #053947;
}

.galery-item--1 {
	grid-column: 1 / 3;
	grid-row: span 1;
}

.galery-item--2 {
	grid-column: 3 / 5;
	grid-row: span 1;
}

.galery-item--3 {
	grid-column: 2 / 3;
	grid-row: 2 / 4;
}

.galery-item--4 {
	grid-column: 3 / 5;
}