.galery {
	padding: 0;
	margin: 0;
}

.galery__block {
	display: grid;
	grid-template-columns: repeat(2, auto);
	gap: 30px;
}

.galery__list {
	margin: 0;
	padding: 40px 40px 40px 0;
	display: grid;
	gap: 30px;
	grid-template-columns: repeat(4, auto);
	grid-template-rows: repeat(3, auto);
	justify-content: start;
	list-style-type: none;
	border-right: 1px solid #053947;
}

.galery__item--1 {
	grid-column: 1 / 3;
	grid-row: span 1;
	width: 380px;
}

.galery__item--2 {
	grid-column: 3 / 5;
	grid-row: span 1;
	width: 350px;
}

.galery__item--3 {
	grid-column: 2 / 3;
	grid-row: 2 / 4;
}

.galery__item--4 {
	grid-column: 3 / 5;
	width: 350px;
}

.galery__item-img {
	min-width: 100%;
	min-height: 100%;
}