.header {
  border-bottom: 1px solid rgba(255, 255, 255, 50%);
  max-width: 1440px;
  padding-bottom: 16px;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__burger,
.header__favorites {
  display: flex;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.header__burger,
.header__btn {
  margin: 0 60px 0 0;
}

.header__logo-link {
  margin: 0 auto 0 0;
}

.header__favorites {
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  margin: 0 28px 0 0;
}