.hero {
  background-color: #F4F6FA;
  margin: 0 0 99px;
}

.hero__wrapper {
  display: flex;
  align-items: center;
  column-gap: 150px;
}

.hero__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 45px;
}

.hero__text-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.hero__heading {
  margin: 0;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
}

.hero__heading-highlight {
  color: #476BF0;
}

.hero__description {
  margin: 0;
  font-size: 18px;
  line-height: 24px;
}