.hero {
	min-width: 1440px;
	background-color: #F4F6FA;
	margin: 0 auto;
}

.hero__wrapper {
	margin: 0 0 100px;
	padding: 70px 80px;
	min-width: 100%;
	display: grid;
	grid-template-columns: 1fr 564px;
	align-items: center;
}

.hero__info {
	display: flex;
	flex-direction: column;
	gap: 48px;
}

.hero__text-block {
	grid-column: 1 / 2;
	grid-row: 1 / 2;
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.hero__header,
.hero__text {
	margin: 0;
	padding: 0;
}

.hero__header {
	font-weight: 700;
	font-size: 40px;
	line-height: 48px;
}

.hero__text {
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
}

.hero__btn-block {
	grid-column: 1 / 2;
	grid-row: 1 / 2;
	display: flex;
	gap: 16px;
}

.hero__btn {
	padding: 18px 32px;
	font-size: 15px;
	letter-spacing: 0;
	line-height: 20px;
}

.hero__icon {
	padding: 16px;

}

.hero__img {
	width: 564px;
	height: 500px;
	grid-column: 2 / 3;
}