.hero-card {
	display: grid;
	grid-column: span 1;
	grid-template-columns: 340px;
	gap: 20px;
}

.hero-card .hero-card__link {
	display: grid;
	grid-template-columns: 340px;
	grid-template-rows: 190px auto;
	gap: 20px;
}

.hero-card__link .hero-card .hero-card__img {
	border-radius: 16px;
}

.hero-card__inner {
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: start;
	gap: 16px;
}

.hero-card__statistic-block-list {
	display: flex;
	list-style-type: none;
	gap: 20px;
	justify-content: start;
	margin: 0;
	padding: 0;
	font-weight: 500;
	font-size: 13px;
	line-height: 16px;
	align-items: center;
}

.hero-card__statistic-block-item {
	display: flex;
	justify-content: start;
	align-items: center;
	gap: 4px;
	color: #696E82;
}

.view-count,
.reading-time {
	display: flex;
	align-items: center;
	gap: 4px;
}

.hero-card__info-block {
	display: flex;
	flex-direction: column;
	justify-content: start;
	gap: 8px;
}

.hero-card__info-block-heading,
.hero-card__info-block-description {
	margin: 0;
	padding: 0;
}

.hero-card__info-block-heading {
	font-weight: 700;
	font-size: 18px;
	line-height: 24px;
}

.hero-card__info-block-description {
	font-weight: 400;
	font-size: 15px;
	line-height: 20px;
}

.hero__cards-list-item--wide-xl {
	grid-column: span 2;
	background-color: #F4F6FA;
	border-radius: 16px 16px;
	overflow: hidden;
	gap: 0;
	min-height: 240px;
}

.hero-card__link .hero-card--wide-xl {
	display: grid;
	grid-template-columns: 340px 1fr;
	grid-template-rows: auto;
	column-gap: 32px;
}

.hero-card__img-xl {
	min-height: 100%;
}

.hero-card__link .hero-card--wide-xl .hero-card__inner {
	padding: 20px 32px 20px 0;
}

.hero__cards-list {
	display: grid;
	grid-template-columns: repeat(2, 340px);
	gap: 40px 32px;
	list-style-type: none;
	margin: 0;
	padding: 0;
}