.hero {
  margin-bottom: 80px;
  min-height: calc(100vh - 120px);
}

.hero__wrapper {
  min-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px 0 0;
  gap: 48px;
  /* background: linear-gradient(180deg, rgba(42, 82, 163, 0) 0%, rgba(42, 82, 163, 0.6) 46.28%, #2A52A3 89%); */
}

.hero__heading {
  margin: 0 auto 48px;
  padding: 0 20px;
  text-align: center;
  font-family: "Ardeco", "Arial", sans-serif;
  font-size: 64px;
  line-height: 64px;
  font-weight: 400;
  text-transform: uppercase;
}

.hero__image {
  margin: 0;
}