.list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;
	gap: 20px;
	margin: 0;
	padding: 0;
}

.link {
	text-decoration: none;
}

.item-text-block {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 12px;
	margin: 0;
	padding: 0;
}

.item-heading {
	margin: 0;
	padding: 0;
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	color: #1E222E;
}

.item-text {
	margin: 0;
	padding: 0;
	font-weight: 400;
	font-size: 15px;
	line-height: 20px;
	color: #696E82;
}